# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

debug

# Local IDE configs
.idea/
*.iml
.vscode/

# Build and test output
/build/


# vim swap files
*.swp

#OSX system files.
**/.DS_Store

# 😬
vendor/**
